ul {
  margin-top: 0;
}
li {
    list-style: none;
  float: left;
      width: 33%;
}

/* Base Styling and Visited*/
a:link,
a:visited {
  color: black;
  display: block;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-bottom: 10px;
  text-decoration: none;
  padding-top: 0;
  
  transition: padding-top 1s;
  }

/* hover state */
a:focus,
a:hover,
a:active {
  background: purple;
  color: forestgreen;
  border-left: 8px solid #fff;
   padding-top: 32px;
}

/*fonts*/

h1, h2 {
    font-family: 'Frijole', cursive;}

p, blockquote {
    font-family: 'Permanent Marker', cursive;}

blockquote {
    font-size: 2em;
    padding: 4em;
    text-align: center;
}